<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    {{if .T.Title}}{{.T.Title}}{{else}}No Title{{end}}
    </title>
  </head>
  <body>
    <h1>Hello {{.T.Name}}</h1>
    <h2>Alamat: {{.T.Addr.Name}}</h2>
    <h2>Value: {{if ge .Value 10}}Banyak{{else}}Dikit{{end}}</h2>
  </body>
</html>
