<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Title
    </title>
  </head>
  <body>
    {{/* Contoh Komentar */}}
    {{with .T}}
    <h1>Hello {{.Name}}</h1>
    <h2>Alamat: {{.Addr.Name}}</h2>
    {{else}}
    <h2>Tidak ada data</h2>
    {{end}}
  </body>
</html>
